.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
  =grid xs:10,sm:8,md:6,lg:4 do
    .big-padding.blue.text-left.white-text
      %h1.no-margin.bold.light-blue-tect.no-margin
        BrayyanCo
      %p.no-margin
        Conecta y conoce a otros alumnos de la comunidad BrayyanCo
      .top-space
        =render "devise/registrations/new"

