=form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  =devise_error_messages!
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    =f.email_field :email, autofocus: true,class:"mdl-textfield__input"
    =f.label :email,class:"mdl-textfield__label"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    =f.password_field :password, autofocus: true,class:"mdl-textfield__input"
    =f.label :password,class:"mdl-textfield__label"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    =f.password_field :password_confirmation, autofocus: true,class:"mdl-textfield__input"
    =f.label :password_confirmation,class:"mdl-textfield__label"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    =f.text_field :username, autofocus: true,class:"mdl-textfield__input"
    =f.label :username,class:"mdl-textfield__label"
  .top-space
    .row.middle-xs
      =grid xs:12, md:6 do
        =f.submit "Registrar",class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
      =grid xs:12, md:6 do
        =link_to "Ya tengo cuenta",new_user_session_path,class:"white-text"