%header.mdl-layout__header
  .mdl-layout__header-row
    %span.mdl-layout-title
      BrayyanCo
    .mdl-layout-spacer
    %nav.mdl-navigation.mdl-layout--large-screen-only
      -if user_signed_in?
        =link_to "Cerrar Sesion",destroy_user_session_path, method: :delete
.mdl-layout__drawer
  %span.mdl-layout-title.center-xs.center-lg.center-md
    BrayyanCo
  %nav.mdl-navigation.center-xs.center-lg.center-md
    =link_to "Cerrar Sesion",destroy_user_session_path, method: :delete