=form_tag "/custom_sign_up" do 
	%ul
		-@user.errors.full_messages.each do |error|
			%li= error
	%div
		=text_field_tag "user[username]",@user.username
		%label{for:"user_username"} Nombre de Usuario
	%div
		=email_field_tag "user[email]",@user.email,required: true
		%label{for:"user_email"} Correo Electornico
	%div
		=text_field_tag "user[username]",@user.name
		%label{for:"user_name"} Nombre
	%div
		=submit_tag "Completar Registro"	