$colors:(
  red: #FC4349,
  pink: #E4004F,
  blue: #2C3E50,
  grey: #D7DADB,
  dark-grey: #666,
  light-blue: #6DBCDB,
  white: #FFF,
  indigo: #2F33AC,
  black :#000
);

@each $color_name, $color in $colors{
  .#{$color_name}{
    background-color: $color;
  }
  .#{$color_name}-text{
    color: $color;
  }
}