html,body{
  height: 100%;
}

.full-height{
  height: 100%;
}
.no-margin{
  margin: 0;
}
.big-padding{
  padding: 2em 1.5em;
}
.top-space{
  margin-top:1em;
}
.underline{
  text-decoration: underline;
}