<!DOCTYPE html>
<html>
  <head>
    <title>Brayyanco</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.pink-blue.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render "partials/nav" %>
      <main class="mdl-layout__content full-height ">
        <div class="page-content full-height"><%= yield %></div>
      </main>
    </div>
    <p class="no-margin"><%= notice  %><%= alert %></p>
  </body>
</html>
