!!! 5
%html
  %head
    %title
      Brayyanco
      = csrf_meta_tags
    %link{rel:"stylesheet", href:"https://code.getmdl.io/1.2.1/material.pink-blue.min.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{defer:true,src:"https://code.getmdl.io/1.2.1/material.min.js"}

  %body>
    %p
    = notice
    = alert
    = yield
